bot/__pycache__/client.cpython-310.pyc
bot/ext/__pycache__/admin.cpython-310.pyc
bot/utils/__pycache__/data.cpython-310.pyc
bot/ext/__pycache__/main.cpython-310.pyc
bot/ext/__pycache__/help.cpython-310.pyc
